<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">
  <!--
      ====================================
      ——— LEFT SIDEBAR WITH FOOTER
      =====================================
    -->
  <aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
      <!-- Aplication Brand -->
      <div class="app-brand">
        <a href="/index.html">
          <svg
            class="brand-icon"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            width="30"
            height="33"
            viewBox="0 0 30 33"
          >
            <g fill="none" fill-rule="evenodd">
              <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
            </g>
          </svg>
          <span class="brand-name">MLMC</span>
        </a>
      </div>
      <!-- begin sidebar scrollbar -->
      <div class="sidebar-scrollbar">
        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">
          <li class="has-sub active expand">
            <a
              class="sidenav-item-link"
              href="javascript:void(0)"
              data-toggle="collapse"
              data-target="#dashboard"
              aria-expanded="false"
              aria-controls="dashboard"
            >
              <i class="mdi mdi-view-dashboard-outline"></i>
              <span class="nav-text">Operation Center</span> <b class="caret"></b>
            </a>
            <ul class="collapse show" id="dashboard" data-parent="#sidebar-menu">
              <div class="sub-menu">
                <li class="active">
                  <a class="sidenav-item-link" (click)="toggleShowActiveMissiles()">
                    <!--  data-toggle="modal" data-target="#exampleModalLong"> -->
                    <span class="nav-text">Active Missiles</span>
                  </a>
                </li>

                <li>
                  <a class="sidenav-item-link" href="analytics.html">
                    <span class="nav-text">Commision Missile</span>

                    <!-- <span class="badge badge-success">new</span> -->
                  </a>
                </li>

                <li>
                  <a class="sidenav-item-link" href="index.html">
                    <span class="nav-text">Launch Missile</span>
                  </a>
                </li>
              </div>
            </ul>
          </li>

          <li class="has-sub">
            <a
              class="sidenav-item-link"
              href="javascript:void(0)"
              data-toggle="collapse"
              data-target="#documentation"
              aria-expanded="false"
              aria-controls="documentation"
            >
              <i class="mdi mdi-chart-pie"></i>
              <span class="nav-text">Reports</span> <b class="caret"></b>
            </a>
            <ul class="collapse" id="documentation" data-parent="#sidebar-menu">
              <div class="sub-menu">
                <li>
                  <a class="sidenav-item-link" href="introduction.html">
                    <span class="nav-text">Launch History</span>
                  </a>
                </li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="page-wrapper">
    <!-- Header -->
    <header class="main-header " id="header">
      <nav class="navbar navbar-static-top navbar-expand-lg">
        <!-- Sidebar toggle button -->
        <button id="sidebar-toggler" class="sidebar-toggle">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!-- search form -->
        <div class="search-form d-none d-lg-inline-block">
          <div>
            <h2>Missile Launch & Monitoring Center</h2>
          </div>
          <!-- <div class="input-group">
              <button type="button" name="search" id="search-btn" class="btn btn-flat">
                <i class="mdi mdi-magnify"></i>
              </button>
              <input type="text" name="query" id="search-input" class="form-control" placeholder="'button', 'chart' etc."
                autofocus autocomplete="off" />
            </div>
            <div id="search-results-container">
              <ul id="search-results"></ul>
            </div> -->
        </div>

        <div class="navbar-right ">
          <ul class="nav navbar-nav">
            <!-- Github Link Button -->
            <li class="github-link mr-3">
              <a
                class="btn btn-outline-secondary btn-sm"
                href="https://github.com/kakarotto67/mlmc"
                target="_blank"
              >
                <span class="d-none d-md-inline-block mr-2">Source Code</span>
                <i class="mdi mdi-github-circle"></i>
              </a>
            </li>
            <!-- Notifications  -->
            <!-- <li class="dropdown notifications-menu">
                <button class="dropdown-toggle" data-toggle="dropdown">
                  <i class="mdi mdi-bell-outline"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">You have 5 notifications</li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-account-plus"></i> New user registered
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-account-remove"></i> User deleted
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07 AM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12 PM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-account-supervisor"></i> New client
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="mdi mdi-server-network-off"></i> Server overloaded
                      <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05 AM</span>
                    </a>
                  </li>
                  <li class="dropdown-footer">
                    <a class="text-center" href="#"> View All </a>
                  </li>
                </ul>
              </li> -->
            <!-- User Account -->
            <li class="dropdown user-menu">
              <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <img src="assets/img/user/admin.png" class="user-image" alt="User Image" />
                <span class="d-none d-lg-inline-block">Admin</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <!-- User image -->
                <!-- <li class="dropdown-header">
                    <img src="assets/img/user/admin.png" class="img-circle" alt="User Image" />
                    <div class="d-inline-block">
                      Abdus Salam <small class="pt-1">abdus@gmail.com</small>
                    </div>
                  </li>

                  <li>
                    <a href="profile.html">
                      <i class="mdi mdi-account"></i> My Profile
                    </a>
                  </li>
                  <li>
                    <a href="email-inbox.html">
                      <i class="mdi mdi-email"></i> Message
                    </a>
                  </li>
                  <li>
                    <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
                  </li>
                  <li>
                    <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
                  </li>

                  <li class="dropdown-footer">
                    <a href="signin.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                  </li> -->
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <div class="content">
        <!-- Map -->

        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header card-header-border-bottom">
              <h2>Realtime Missiles Tracking</h2>
            </div>
            <div class="card-body">
              <div id="realTimeMap" class="map-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer mt-auto">
      <div class="copyright bg-white">
        <p>&copy; <span id="copy-year">2019</span> Copyright</p>
      </div>
      <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;
      </script>
    </footer>
  </div>
</div>

<div *ngIf="showActiveMissiles">
  <active-missiles></active-missiles>
</div>

<!-- <ng-template *ngIf="showActiveMissiles">
  <active-missiles></active-missiles>
</ng-template> -->
