<div class="modal-header">
  <h5 class="modal-title">List of active missiles</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="activeMissiles?.length > 0; else nodata">
    <div *ngFor="let missile of activeMissiles">
      <div>
        {{ missile.serviceIdentityNumber }} | {{ missile.name }} | {{ missile.typeString }} | {{ missile.statusString }}
      </div>
    </div>
  </div>
  <ng-template #nodata>
    <h4 class="m-1">Loading list of missiles...</h4>
  </ng-template>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary btn-pill"
    data-dismiss="modal"
  >
    Close
  </button>
</div>
